/* Nyheder Sektion */
.news-section {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.news-item {
    display: flex;
    border: 2px solid #c89a9a;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.news-item img {
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-right: 15px;
}

.news-content {
    flex-grow: 1;
}

.date {
    font-weight: bold;
    color: #944a38;
    display: block;
    text-align: right;
    font-size: 12pt;
}
#tal{
    font-size: 24pt;
    margin-bottom: 0;
}

.title {
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.extra-content {
    display: none; /* Starter skjult */
    margin-top: 10px;
    font-size: 14px;
}

/* Responsiv tilstand */
@media (max-width: 958px) {
    .right-section {
        padding: 1rem;
    }
    .news-section {
        padding: 0%;
        margin-top: 3rem;
    }
    .news-item {
        flex-direction: column;
        padding-right: 0px;
        font-size: 8pt;
    }
    .news-item img {
        margin-bottom: 10px;
        width: 100%;
        height: auto;
     object-fit: cover;
    }
    .title {
        font-size: 12px;
        margin-left: 8%;
    }
    .date {
        font-size: 8pt;
        margin-right: 1rem;
    }
    #tal{
        font-size: 16pt;
        margin-bottom: 0;
    }
    p{
        font-size: 7pt;
        margin-left: 1rem;
        line-height: 14pt;
    }
}