* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Alata;
    src: url(font/Alata-Regular.ttf);
  }
  @font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-VariableFont_wght.ttf);
  }
/* style */


body {
    font-family: Alata;
    color: rgba(129, 45, 40, 1);
    background-color: #fefaf2;
    width: 100%;
}
a:link{
    text-decoration: none;
    color: rgba(129, 45, 40, 1);
}
a:visited{
    text-decoration: none;
    color: #000;
}

/* desktop menu */
.desktop-nav {
    background-color: #fefaf2;
    display: flex;
    padding: 0.5rem;

    justify-content: center;
    a:link{
        text-decoration: none;
        color: rgba(129, 45, 40, 1);
    }
    a:visited{
        text-decoration: none;
        color: rgba(129, 45, 40, 1);
    }
}
.desktop-nav ul {
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-weight: bold;
    font-size: 0.9rem;
    justify-content: space-between;
}
.desktop-nav li {
    padding: 1rem;
    text-align: center;
    flex: 1;
}

/* mobil menu */
.mobile-header {
    display: none;
    a:link{
        text-decoration: none;
    }
}

.menu-btn {
    position: fixed;
    right: 2%;
    top: 2%;
    background-color: rgba(129, 45, 40, 1);
    color: #fefaf2;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.mobile-menu {
    display: none;
    background-color: rgba(129, 45, 40, 1);
    color: #fefaf2;
    padding: 1rem;
}

.mobile-menu.show {
    display: block;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

.mobile-menu li {
    margin: 1rem 0;
}


/* Main Container */

.main-container {
    display: flex;
    height: 100%;
}

.left-image {
    width: 50%; 
    height: 100%;
    position: fixed; 
    top: 8%;
    left: 0;
    overflow: hidden; 
    background-color: rgba(129, 45, 40, 1);
    color: #fefaf2;
}

.left-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-image h1 {
    text-align: center;
vertical-align: middle;
line-height: 750px;
}

.right-section {
    flex: 1.5; /* Mere plads til højre sektion */
    margin-left: 50%; /* Skubber højre sektion til siden */
    padding: 3rem;
}


.logo{
    position: relative;
    text-align: center;
}

.logo img {
    max-width: 400px;
    height: auto;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 30pt;
    margin-bottom: 1.5rem;
}
h2 {
    font-size: 20pt;
    margin-bottom: 2rem;

    margin-top: 2rem;
}
h4 {
    font-size: 16pt;
    margin-bottom: 2rem;
    margin-top: 2rem;
text-align: center;
}
.tekstmidt{
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

p{
    font-size: 10pt;
    line-height: 18pt;
    font-family: Montserrat;
}

.col img{
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.grid1{
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

video{
    display: block;
    padding: 1rem;
    padding-top: 3rem;
    max-width: 90%;
    height: auto;
    margin: auto;
}
iframe{
    display: block;
    margin: auto;
    max-width: 100%;
    padding-top: 3rem;
}

footer {
    left: 50%; 
    padding: 1rem 3rem;
    font-size: 0.8rem;
    text-align: end;
}

.contact{
    position: relative;
    right: 1rem;
    bottom: 0;
    padding-bottom: 1rem;
    text-align: right;
}
.icon{
    max-width: 100%;
    height: auto;
    padding-top: 1rem;
}
.footer-spacer{
    padding-top: 5rem;
}

/* Mobil */
@media (max-width: 768px) {
    /* Skjul desktopmenu + vis mobilmenu */
    .desktop-nav {
        display: none;
    }
    .footer-spacer{
        display: none;
    }

    .mobile-header {
    position: fixed;
    z-index: 1; /* set higher z-index value */
    right: 2%;
    top: 7%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0rem;
        background-color: #fefaf2;
        a:link{
            text-decoration: none;
            color: #fefaf2;;
        }
        a:visited{
            text-decoration: none;
            color: #fefaf2;;
        }
    }
    h1 {
        font-size: 22pt;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 16pt;
    }
    .grid1{
        display: grid;
        column-gap: 5px;
        grid-template-columns: 1fr;
    }
    .col img{
        max-width: 100%;
        height: auto;
        margin-bottom: 0.5rem;
        margin-top: 1.5rem;
    }
    .venstre-section{
        padding-top: rem;
    }
    .right-section {
        padding: 1rem;
        padding-top: 2.5rem;
    }

    footer {
        bottom: 0;
        left: 0; 
        width: 100%;
        text-align: right;
        padding: 1rem;
    }
}